{% extends 'goods/base.html' %}
{% block content %}

<div class="advantage-template container">
    <a name="guarantee">
        <div class="guarantee" name="">
            <h2>Гарантия качества продукции</h2>
        </div>
    </a>
    <a name="work_counterparty">
        <div class="work_counterparty">
            <h2>Работа напрямую с производителями</h2>

        </div>
    </a>
    <a name="discounts">
        <div class="discounts">
            <h2>Скидки при больших заказах</h2>

        </div>
    </a>
    <a name="delivery">
        <div class="delivery">
            <h2>Гарантии при перевозке</h2>

        </div>
    </a>
</div>
{% endblock %}